*.cfg
/demo/Data/PDFFiles/*.pdf
*.dof
*.dsk
*.dcu
~*~
__history/*
dpk/doc/Html/*
dpk/__history/*
demo/__history/*
*.Old
*.local
*.exe
*.identcache
*.stat
dpk/*.local
dpk/*.stat
dpk/*.identcache
demo/*.stat
*CVS*
.cvsignore
*.htm
*.htc
*.~1~
sources/__history/*
help/*

